{% extends 'base/main.html' %}
{% block content %}
{% load i18n %}

<div class="header-bar">
    <h1>{%trans Register %}</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %} <!-- CSRF protection -->
     <label>{{form.username.label}}</label>  <!-- Label for username -->
        {{form.username}} <!-- Username field -->
     <label>{{form.password1.label}}</label>
        {{form.password1}} <!-- Password field -->
     <label>{{form.password2.label}}</label> 
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </form>
    <p>{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></p>
</div>




{% endblock content %}